<div class="grid-container">
  <div>
    1st
  </div>
  <div>
    2nd Div
  </div>
  <div>
    3rd div
  </div>
  <div>
    <%= link_to "Rock", curb_throw_path(:player_throw => "rock"), remote: true %>
  </div>
  <div>
    5th Div
  </div>
  <div>
    6th Div
  </div>
  <div>
    7th Div
  </div>
  <div>
    8th Div
  </div>
  <div>
    9th Div
  </div>
</div>
