<div class="grid-container">
  <div></div>
  <div></div>
  <div></div>
  <div>
    <%= link_to "Rock", curb_throw_path(:player_throw => "rock"), data: { modal: true } %>
  </div>
  <div>
    <%= link_to 'Paper', curb_throw_path(:player_throw => "paper"), data: { modal: true } %>
  </div>
  <div>
    <%= link_to 'Scissors', curb_throw_path(:player_throw => "scissors"), data: { modal: true } %>
  </div>
  <div></div>
  <div></div>
  <div></div>
</div>
